:root {
    --red: #e50914;
    --black: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .logo {
    margin-left: 5px;
    color: var(--red);
    font-family: 'Arial black', Times;
    font-size: 3rem;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

.container, .btns {
    margin: 0 2rem;
}

/* main film */
.main-film {
    font-size: 1.5rem;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('https://wallpaperaccess.com/full/6664894.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-film .title {
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
}

.main-film .description {
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.main-film .btn {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: .80rem;

    cursor: pointer;
    transition: all .3s ease;
}

.main-film .btn:hover {
    background-color: white;
    color: var(--black);
}

.main-film .btn i {
    margin-right: 8px;
}

.main-film .container {
    width: 60%;
}